<html>
<head>
   <link rel="stylesheet" href="cdn/pure-min.css">
   <link rel="stylesheet" href="cdn/bootstrap.min.css">
   <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="cdn/fontawsome.css">
   <link rel="stylesheet" href="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
   .radiogroup{
	    margin-top: 4.8rem;
		background-color: white;
		margin-left: 1.8rem;
		width: 30.5%;
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
   }
   .displaynone{
   		display: none !important;
   }
   .displayflex{
   		display:inline-flex !important;
   }
   .formmargintop{
   	margin-top:1.8rem;
   }
   .nomargintop{
   	margin-top:0rem;
   }
   .nomarginbottom{
   	margin-bottom:0rem;
   }
   .dateicon{
   		height: 3.4rem;
    	padding-top: 0.7rem;
    	padding-right: 2rem;
    	margin-top: 0.3rem;
   		padding-left: 0.8rem;
   		background-color: #fff;
    	box-shadow: inset 0 1px 3px #ddd;
    	border-radius: 0.2rem !important;
    	border: 1px solid #ccc;
   }
   .timepickersize{
   		margin-top:-28px;
   }
   .timepickersize table tbody tr td button{
   	    width:26px !important;
    	padding-left: 2px !important;
   }
	.emailvalidationdiv{
		border:2px solid white;
		border-radius:8px;
		padding:1% 2% 1% 2%;
	}
	.emailvalidationdiv #email{
		width:100% !important;
	}
	.error{
	 border:1px solid red;
	}
	.nomarginleftright{
	   margin-left:0px !important;
	   margin-right:0px !important;
	}
	.buttonmargin{
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
	}
	.passengerdatabackground{
	 background-color:rgba(221, 221, 221, 0.6);
	 padding-top:1rem;
	 padding-bottom:1rem;
	 border-radius:8px;
	}
	.displaylistdata li{
		font-size:18px !important;
	}
	.emailverifyheader{
	    background-color: rgba(80, 216, 66, 0.37);
		border: 2px solid #fff;
		border-radius: 8px;
		text-align: center;
		font-variant: small-caps;
	}
	.timepickersize table tr td input[type='text']{
    	width: 35px !important;
	}
   </style>
</head>
<body ng-app="travelApplication" ng-controller="passengerCtrl as travel" class="maincontroller" style="background-color:rgba(255,255,255,0)">
    <div class="row  menubackground" style="margin-top:10px;padding-top:20px;padding-left:10px;padding-right:10px">
	   <div class="col-md-4">
		<h3 class="headerfont">Share Your Ride</h3>   
	   </div>
	   <div class="col-md-8" style="padding-left:0px;padding-right:0px">
		<nav class="navbar navbar-inverse menunavbar">
		  <div class="container-fluid">
			<div class="navbar-header">      
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			  </button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav menubar">
			    <li class="menuItemList">
					<a href = "#Home"  ng-click="displayMenu('home')" class="menuItemPadding active">Home</a>
				</li>
				<li class="menuItemList">
					<a href = "#Post Vehicle" ng-click="displayMenu('vehicle')" class="menuItemPadding">Post your Vehicle</a>
				</li>
				<li class="menuItemList">
					<a href="#Post Journey" ng-click="displayMenu('passenger')" class="menuItemPadding">Request For Vehicle</a>
				</li>
				<li class="menuItemList">
					<a href="#Search Vehicle" ng-click="displayMenu('searchvehicle')" class="menuItemPadding">Search Vehicle</a>
				</li>
				<li class="menuItemList" ng-click="displayMenu('searchpassenger')">
					<a href="#Search Passenger" class="menuItemPadding">Search Passenger</a>
				</li>
			  </ul>
			 </div>
			</div>
		</nav>
	   </div>
    </div>  
    <hr style="border-width:4px;border-color:rgba(79, 29, 45, 0.42);margin-top:0px;margin-bottom:10px" />
	<div class="row" id="success" style="display:none;margin-top: 4%; padding-left: 24%;padding-right: 24%;">
	  <div class="alert alert-success " style="padding:4%;color: #000;background-color:rgba(80, 216, 66, 0.37);border:2px solid white;">
		<a href="#" class="close" ng-click="displayMenu('home')"> Close </a>
		<h4 style="text-align: center;font-variant: small-caps;">Your Data Saved Successfully </h4>
	  </div>
	</div>
	<!-- Home Page Code Start  -->
	<div ng-show="homeData">
		<div class="row">
			<h2 class="headertext"> Welcome To New Journey Here We Can Travel As We Like ....</h2>
		</div>
		<div class="row homecontent">  
		  <div class="col-md-4 connectingpeolpe hometile" id="hometiledata" ng-click="displayMenu('vehicle')">
			<h2 class="connectingpeopletext"> Connecting People </h2>
			<img class="img-responsive" src="/contact.png"/>
		  </div>
		 
		  <div class="col-md-4 sharejourney hometile" ng-click="displayMenu('passenger')">
			<h2 class="connectingpeopletext"> Share Your Journy</h2>
			<img class="img-responsive saharerideimage" src="/sharejourney.png"/>
		  </div>
		  
		   <div class="col-md-4 sharevehicle hometile" ng-click="displayMenu('vehicle')">
			<h2 class="connectingpeopletext"> Share Your Ride </h2>
			<img class="img-responsive saharerideimage" align="middle"  src="shareride.png"/>
		  </div>
		</div>
    </div>	
	<!-- Home Page Code Ends-->
	
	<!-- Email Validation Code Start-->
	<div ng-show="displayemailvalidation">
	 <img src="Loadingicon2.gif" id="otpvalidateform" style="display:none; margin:4% 20% 22% 42%;z-index:12; position:absolute; width: 188px;">		
		<div class="row col-md-4 col-md-offset-4 emailvalidationdiv">
		  <h4 class="formheader">Email Verification</h4>		  
			<form role="form" name="emailForm" id="emailverifyform"  method="POST" 
					action="https://script.google.com/macros/s/AKfycbwoGiaYGuQ1B9EY1v0Va-r8kKUQedzay-zWIdVx4PmhY_MMo4M/exec" novalidate>		    
				<div class="form-group">
					<label for="email">Email:</label>
					<input class="form-control" id="email" placeholder="Enter your email id to verify" name="email" ng-model="verificationemail" type="email" value="" ng-class="{'error': emailForm.email.$error.pattern}" ng-pattern="/^\S+@\S+\.\S+$/i" required />
					<span ng-show="emailForm.email.$error.pattern || emailForm.email.$error.required">Please Enter valid Email Id</span>
					<input type="text" name="otp" id="otp" style="display:none" value={{otp}} />
				</div>
				<button type="submit" ng-disabled="emailForm.email.$error.pattern || emailForm.email.$error.required"  class="btn btn-primary" ng-click="displayVerifyOTP()"> <i class="fa fa-paper-plane"></i>&nbsp;Click here to get OTP</button>
			</form>
		</div>			
	</div>
	<!-- Email Validation Code Start-->
	
	<!-- OTP verification Starts-->
	<div ng-show="otpvalidation">   
      <img src="Loadingicon2.gif" id="otpvalidattion" style="display:none; margin:4% 20% 22% 42%;z-index:12; position:absolute; width: 188px;">			
	  <div class="row col-md-4 col-md-offset-4 emailvalidationdiv">
		<h3 class="formheader">Verify OTP Here</h3>
		<form role="form" name="otpForm" id="otpverify"  novalidate>
			  <div class="form-group">
			    <label for="userotp">Enter OTP:</label>
				<input class="form-control" id="userotp" placeholder="Enter your email id to verify" name="userotp" ng-model="userotp" type="text" value="" ng-change="resetOTPValidation()" ng-class="{'error': otpForm.userotp.$error.pattern}" ng-pattern="/[1-9]{1}[0-9]{3}$/" required />
				<span ng-show="otpForm.userotp.$error.pattern || otpForm.userotp.$error.required">Please Enter your four digit OTP.</span>
				<span ng-show="invalidOTP" style="color:red">Invalid OTP Please enter valid password</span>
			  </div>
			  <button type="submit" ng-disabled="otpForm.userotp.$error.pattern || otpForm.userotp.$error.required"  class="btn btn-primary" ng-click="validatingOTP()"> <i class="fa fa-paper-plane"></i>&nbsp;Confirm</button>
		</form>
  	  </div>			
	</div>
	<!-- OTP verification Code End-->
	
	<!-- Displaying Vehicle Data Code Start Here displayvehicledata -->
	<div ng-show="displayvehicledata">
		<div class="row clearfix searchdiv">
		   <form role="form" id="vehiclesearch">
			<div class="form-group maxwidth nomarginBottom col-xs-10 col-sm-10 col-md-4 col-lg-4">
				  <label for="source">Source</label>
				  <input class="form-control" type="text" googleplace id="source" ng-model="searchvehicle.source" name="source" placeholder="Enter Source" required/>
			</div>
			<div class="form-group maxwidth nomarginBottom col-xs-10 col-sm-10 col-md-4 col-lg-4">
				<label for="source">Destination</label>
				<input class="form-control" type="text" googleplace id="destination" ng-model="searchvehicle.destination" name="source" placeholder="Enter Source" required/>
			</div>
			<div class="form-group nomarginBottom col-xs-10 col-sm-10 col-md-4 col-lg-4">	
			        <label class="labelsize">Journey Date:</label>			
					<p class="input-group">
					  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchvjdate" ng-change="filterdate('vehicle')" is-open="vehicleSearch.opened" datepicker-options="dateOptions" ng-required="true" placeholder="Please select date to search" close-text="Close" alt-input-formats="altInputFormats" />
					  <span class="input-group-addon add-on" ng-click="open('vehicleSearch')"><span class="glyphicon glyphicon-calendar"></span></span>
					</p>
		    </div>
		   </form>
		</div>
		<div class="row vehicledatabanner">
			<div class="col-md-offset-5 col-md-4">
				<h4 class="fontbolder">Vehicle  Holder Details</h4>
			</div>		    
		</div>
		<div class="passengerdatabackground">
		<div class="row nomarginleftright">
		  <div class="col-sm-6" ng-repeat="vehicle in myData|filter:searchvehicle" style="
                                      background-color: rgba(255, 0, 0, 0)">
		   <div class="well well-sm" style="padding:1px;margin:2px;background-color:rgba(238, 238, 238, 0.4);border:2px solid green;border-radius:8px">
			  <div class="row">
				  <div class="col-md-3">
					<img ng-src="" class="img-rounded img-responsive well-image" style="border:1px solid green" />  
				  </div>
				  <div class="col-md-9">
					<h4><strong>Name:{{vehicle.vname}}</strong></h4>  
					<p style="margin:0px"><strong>Source:</strong>{{vehicle.source}}</p>
					<p style="margin:0px"><strong>Destination:</strong>{{vehicle.destination}}</p>   
					<p style="margin:0px"><strong>Journey Date:</strong>{{vehicle.jdate|date: "dd-MMMM-yyyy" }}</p>			
				<button class="btn btn-primary pull-right buttonmargin" data-toggle="modal" data-target="#turtle-info" ng-click="changeActiveVehicle(vehicle)">Click Here To See More </button>
				  </div>
			  </div>
		   </div>
		  </div>
		</div>
		<div class="row" ng-if="myData.length == 0">
		   <h1>No data found </h1>
		</div>
		<img src="LoadingGreen.gif" id="gif" style="display: none; margin: 8% 15% 22% 44%; width: 188px;z-index:300">
		<div class="modal" id="turtle-info">
         <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
               <h4><strong>Vehicle Holder Details</strong></h4>              
              </div>
              <div class="modal-body" style="margin:20px">
               <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                      <img ng-src="{{list.activeTurtle.image_Url}}" class="img-rounded img-responsive" style="width:60%">                  
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group displaylistdata">
							<li class="list-group-item"><strong>Vehicle Holder Name:&nbsp;&nbsp;</strong>{{activeVehicle.vname}}</li>
							<li class="list-group-item"><strong>Gender:&nbsp;&nbsp;</strong>{{activeVehicle.gender}}</li>
							<li class="list-group-item"><strong>Mobile:&nbsp;&nbsp;</strong>{{activeVehicle.mobile}}</li>
							<li class="list-group-item"><strong>Email Id:&nbsp;&nbsp;</strong>{{activeVehicle.email}}</li>
							<li class="list-group-item"><strong>Driving Licence:&nbsp;&nbsp;</strong>{{activeVehicle.dlicence}}</li>
							<li class="list-group-item"><strong>Source:&nbsp;&nbsp;</strong>{{activeVehicle.source}}</li>
							<li class="list-group-item"><strong>Destination:&nbsp;&nbsp;</strong>{{activeVehicle.destination}}</li>
							<li class="list-group-item"><strong>Journey Date:&nbsp;&nbsp;</strong>{{activeVehicle.jdate}}&nbsp;&nbsp;{{activeVehicle.vjtime}}</li>
							<li class="list-group-item"><strong>Vehicle Type:&nbsp;&nbsp;</strong>{{activeVehicle.vehicle}}</li>
							<li class="list-group-item"><strong>Vehicle Number:&nbsp;&nbsp;</strong>{{activeVehicle.vnumber}}</li>
						</ul>                                        
                    </div>
                 </div>
                 <div class="row">
                    <button class="btn btn-danger pull-right buttonmargin" data-dismiss="modal">Close</button>
                 </div>
               </div>
              </div>
            </div>
           </div>
         </div>
		</div>
	</div>
	<!-- Displaying Vehicle Data Code End Here-->
	
	<!-- Posting Vehicle Data Code Start Here displayvehicleform -->
    <div ng-show="displayvehicleform" class="formdiv">
	    <img src="Loadingicon2.gif" id="vgiform" style="display: none; margin: 8% 25% 22% 33%; position:absolute; width: 188px;z-index:300">
		<div class="row">
			<form id="gform" name="myForm" method="POST" class="pure-form pure-form-stacked"
                action="https://script.google.com/macros/s/AKfycbx0HB59Lb_DuIIjapUhRLTvoMSwy050e1qJVY4PCc5kOs5A2pw/exec">
			<div class="row">
				<div class="col-md-offset-4 col-xs-offset-6 col-xs-offset-6 col-md-4">
					<h4 class="formheader">Post Your Vehicle Details </h4>
				</div>		    
			</div>
			<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4 nomarginBottom">
				<label for="vname">Vahicle Holder Name</label>
				<input type="text" class="form-control" name="vname" ng-model="vehicleformdata.vname" id="vname" placeholder="Enter Name" required/>
			</div>
			<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4 nomarginBottom">
				<label for="exampleInputPassword1">Vehicle Type</label>
				 <select class="form-control dropwidth" id="vehicle"  ng-model="vehicleformdata.vvehicletype"  name="vehicle" required>
					<option value='' selected>Select Your Vehicle Type</option>
					<option value="Auto">Auto</option>
					<option value="Bike">Bike</option>    
					<option value="Car">Car</option>
					<option value="Bus">Bus</option>
				  </select>
			</div>

			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  nomarginBottom">
				<label for="mobile">Mobile</label>
				<input class="form-control" type="text" id="mobile" ng-model="vehicleformdata.vmobile" name="mobile" ng-pattern="phoneNumber" ng-model="mobile" placeholder="Enter Mobile Number" required/>
				<span style="color:red" ng-show="myForm.mobile.$error.pattern">Please Enter Valid Mobile Number</span>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 formmargintop nomarginBottom">
				<label for="vnumber">Vehicle Number</label>
				<input type="text" class="form-control" id="vnumber" ng-model="vehicleformdata.vvehiclenumber" name="vnumber" placeholder="Select Vehicle Type" required />
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 formmargintop nomarginBottom">
				<label for="email">Email</label>
				<input class="form-control vemail" type="text" id="email" ng-model="email.vholderemail" name="email"  value="" style="width:100%" readonly />
			</div>		
			<div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4 formmargintop nomarginBottom">
				<label for="jdate" class="nomarginBottom">Journey Date</label>
				<label class="nomargintop displayflex">
					<input type="text" id="jdate" name="jdate"class="form-control" uib-datepicker-popup="{{format}}" ng-model="vehicleformdata.vjdate" is-open="vehicleSearch.opened" datepicker-options="dateOptions" ng-required="true" placeholder="Please select date to search" close-text="Close" alt-input-formats="altInputFormats" required/>
					<span class="input-group-addon add-on dateicon" ng-click="open('vehicleSearch')"><span class="glyphicon glyphicon-calendar"></span></span>
					<span uib-timepicker ng-model="vjourneytime" ng-change="changed('vehicle')" hour-step="hstep" minute-step="mstep" class="timepickersize" show-meridian="ismeridian" style=""></span>
					<input type="text" name="vjtime" id="vjtime" ng-model="vjtime" class="displaynone"/>
				</label>
			</div>		
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:0.4%;margin-bottom:0px">
			    <label></label>
				<label  style="display:inline" for="gender">Gender&nbsp;&nbsp;&nbsp;</label>
				<label style="display:inline">
					<input id="gender1" type="radio" name="gender" ng-model="vgender.gender" value="Female" required>Female</label>	
				<label style="display:inline">
					<input id="gender2" type="radio" name="gender" ng-model="vgender.gender" value="Male">Male
				</label>			
			</div>  
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom">
				<label for="nseats">Number of Seats Available</label>
				<input type="number" class="form-control" id="nseats" ng-model="vehicleformdata.vnumberseats" name="nseats" required/>
			</div>	
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom">
				<label for="dlicence">Driving Licence Number</label>
				<input class="form-control" type="text" id="dlicence" ng-model="vehicleformdata.dlicences" name="dlicence" placeholder="Enter Source" required/>
			</div>	
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom formmargintop">
				<label for="source">Source</label>
				<input class="form-control" type="text" googleplace id="source" ng-model="vehicleformdata.vsource" name="source" placeholder="Enter Source" required/>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom formmargintop">
				<label for="destination">Destination</label>
				<input type="text" class="form-control" id="destination" googleplace ng-model="vehicleformdata.vdestination" name="destination" placeholder="Enter Destination" required/>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 formmargintop">
				<label for="comment">Comment/Suggestions to Passenger</label>
				<textarea class="form-control" rows="2" name="comment" ng-model="vehicleformdata.vcomments" id="comment"></textarea>
			</div>  
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-md-offset-4 col-sm-offset-6 col-xs-offset-6">
			     <button  class="btn btn-success">
				 	<i class="fa fa-paper-plane"></i>&nbsp;Submit
				 </button>				
			</div>
		</form>
	  </div>
	</div>
    <!-- Posting Vehicle Data Code End Here-->
	
	<!-- Posting Passenger Data Code Start Here displaypassengerform-->
    <div ng-show="displaypassengerform" class="formdiv">
		 <img src="Loadingicon2.gif" id="passengerSubmitLoader" style="display: none; margin: 8% 25% 22% 33%; position:absolute; width: 188px;z-index:300">
		<div class="row">
			<form id="gform2" method="POST" name="PassengerForm" class="pure-form pure-form-stacked"
                action="https://script.google.com/macros/s/AKfycbz36F2Da7Gzau7W6Ab5qqjHpAqfxtdToEJFWkzzHBSB7n9VCvs/exec">
			<div class="row">
				<div class="col-md-offset-3 col-md-4">
					<h4 class="passengerformheader">Post Your Journey Details </h4>
				</div>		    
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom">
				<label for="pname">Passenger Name</label>
				<input type="text" class="form-control" ng-model="passengerformdata.pname" name="pname" id="pname" placeholder="Enter Your Name" required/>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom">
				<label for="pmobile">Mobile</label>
				<input class="form-control" type="text" id="pmobile" name="pmobile"  ng-model="passengerformdata.pmobile" ng-pattern="phoneNumber" placeholder="Enter Mobile Number" required/>
				<span style="color:red" ng-show="PassengerForm.pmobile.$error.pattern">Please Enter Valid Mobile Number</span>
			</div>					     
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 nomarginBottom">
				<label for="email">Email</label>
				<input class="form-control pemail" type="email" id="email" name="email" ng-model="email.pasengermail" style="width:100%" readonly  required />
			</div>			
		
            <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 formmargintop">
			    <label></label>
				<label  style="display:inline" for="gender">Gender&nbsp;&nbsp;&nbsp;</label>
				<label style="display:inline">
					<input id="pgender1" type="radio" name="pgender" ng-model="pgender.gender" value="Female" required>Female
				</label>	&nbsp;&nbsp;
				<label style="display:inline">
					<input id="pgender2" type="radio" name="pgender" ng-model="pgender.gender" value="Male">Male
				</label>			
			</div>  
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 formmargintop nomarginBottom">
				<label for="jdate" class="nomarginBottom">Journey Date</label>
				<label class="nomargintop displayflex">
					<input type="text" id="pjdate" name="pjdate"class="form-control" uib-datepicker-popup="{{format}}" ng-model="passengerformdata.pjdate" is-open="passengerForm.opened" datepicker-options="dateOptions"   ng-required="true" placeholder="Please select date" close-text="Close" alt-input-formats="altInputFormats" required/>
					<span class="input-group-addon add-on dateicon" ng-click="open('passengerForm')"><span class="glyphicon glyphicon-calendar"></span></span>
					<span uib-timepicker ng-model="pjourneytime" ng-change="changed('passenger')" hour-step="hstep" minute-step="mstep" class="timepickersize" show-meridian="ismeridian" style=""></span>
					<input type="text" name="vjtime" id="vjtime" ng-model="vjtime" class="displaynone"/>
				</label>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  formmargintop nomarginBottom">
				<label for="pseats">Number of Passengers</label>
				<input type="number" class="form-control" id="pseats" ng-model="passengerformdata.pnumberpassenger" name="pseats" required/>
			</div>	
			<div class="clearfix"> </div>	
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4  nomarginBottom">
				<label for="psource">Source</label>
				<input  type="text" class="form-control" id="psource"  googleplace name="psource" ng-model="passengerformdata.psource" placeholder="Enter Source" required/>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4   nomarginBottom">
				<label for="pdestination">Destination</label>
				<input type="text" class="form-control" id="pdestination"  googleplace ng-model="passengerformdata.pdestination" name="pdestination" placeholder="Enter Destination" required/>
			</div>        
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="margin-bottom:1%">
				<label for="pcomment">Comment/Suggestions to Passenger</label>
				<textarea class="form-control" rows="2" ng-model="passengerformdata.pcomments" name="pcomment" id="pcomment"></textarea>
			</div>  
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-md-offset-4 col-sm-offset-6" style="padding:4rem 6rem 0rem 0rem">
			     <button  class="btn btn-success">
				 <i class="fa fa-paper-plane"></i>&nbsp;Submit
				 </button>				
			</div>
		</form>
	  </div>
	</div>
  	<!-- Posting Passenger Data Code End Here-->
	
   <!-- Passenger Data Display  Start displaypassengerdata-->
	<div ng-show="displaypassengerdata">
		<div class="row clearfix searchdiv">
		   <form role="form" id="passengersearch">
			<div class="form-group maxwidth inputmarginBottom col-xs-10 col-sm-4 col-md-4 col-lg-4">
				  <label for="source">Source</label>
				  <input class="form-control" type="text" googleplace id="source" ng-model="searchpassenger.psource" name="source" placeholder="Enter Source" required/>
			</div>
			<div class="form-group maxwidth inputmarginBottom col-xs-10 col-sm-10 col-md-4 col-lg-4">
				  <label for="source">Destination</label>
				  <input class="form-control" type="text" googleplace id="destination" ng-model="searchpassenger.pdestination" name="source" placeholder="Enter Source" required/>
			</div>
			<div class="form-group nomarginBottom col-xs-10 col-sm-10 col-md-4 col-lg-4">	
				<label class="labelsize">Journey Date:</label>			
				<p class="input-group">
				  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchpjdate" is-open="passengerSearch.opened" datepicker-options="dateOptions" ng-required="true" ng-change="filterdate('passenger')" placeholder="Please select date to search" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-addon add-on" ng-click="open('passengerSearch')"><span class="glyphicon glyphicon-calendar"></span></span>
				</p>
		        </div>
			</form>
		</div>
		<div class="row passengerdata">
			<div class="col-md-offset-5 col-md-4">
				<h4 class="fontbolder">Passenger Details</h4>
			</div>		    
		 </div>
		<div class="passengerdatabackground">
			<div class="row nomarginleftright">
			<div class="col-sm-6" ng-repeat="passenger in passengerData|filter:searchpassenger" style="
                                      background-color: rgba(255, 0, 0, 0)">
		   <div class="well well-sm" style="padding:1px;margin:2px;background-color:rgba(238, 238, 238, 0.4);border:2px solid green;border-radius:8px">
				<div class="row">
				  <div class="col-md-3">
					<img ng-src="" class="img-rounded img-responsive well-image" style="border:1px solid green" />  
				  </div>
				  <div class="col-md-9">
					<h4><strong>Name:{{passenger.pname}}</strong></h4>  
					<p style="margin:0px"><strong>Source:</strong>{{passenger.psource}}</p>
					<p style="margin:0px"><strong>Destination:</strong>{{passenger.pdestination}}</p>   
					<p style="margin:0px"><strong>Journey Date:</strong>{{passenger.pjdate}}</p> 					
					<button class="btn btn-primary pull-right buttonmargin" data-toggle="modal" data-target="#passenger-info" ng-click="changeActivePassenger(passenger)">Click Here To See More </button>
				  </div>
				</div>
			</div>
			</div>
			</div>
			<img src="LoadingGreen.gif" id="gif" style="display: none; margin: 8% 15% 22% 44%; width: 188px;">
		<div class="modal" id="passenger-info">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4><strong>Vehicle Holder Details</strong></h4>              
					</div>
				<div class="modal-body" style="margin:20px">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                      <img ng-src="" class="img-rounded img-responsive" style="width:60%">                 
                    </div>
					<div class="row">
						<div class="col-md-12">
							<ul class="list-group displaylistdata">
								<li class="list-group-item"><strong>Passenger Name:&nbsp;&nbsp;</strong>{{activePassenger.pname}}</li>
								<li class="list-group-item"><strong>Gender:&nbsp;&nbsp;</strong>{{activePassenger.pgender}}</li>
								<li class="list-group-item"><strong>Mobile:&nbsp;&nbsp;</strong>{{activePassenger.pmobile}}</li>
								<li class="list-group-item"><strong>Email Id:&nbsp;&nbsp;</strong>{{activePassenger.email}}</li>
								<li class="list-group-item"><strong>Source:&nbsp;&nbsp;</strong>{{activePassenger.psource}}</li>
								<li class="list-group-item"><strong>Destination:&nbsp;&nbsp;</strong>{{activePassenger.pdestination}}</li>
								<li class="list-group-item"><strong>Journey Date:&nbsp;&nbsp;</strong>{{activePassenger.pjdate}}</li>
								<li class="list-group-item"><strong>Passenger Comment:&nbsp;&nbsp;</strong>{{activePassenger.pcomment}}</li>
							</ul>                                        
						</div>
					 </div>
					 <div class="row">
						<button class="btn btn-danger pull-right buttonmargin" data-dismiss="modal">Close</button>
					 </div>
                </div>
                </div>
                </div>
            </div>
            </div>
		   </div>
		    <img src="LoadingGreen.gif" id="passgif" style="display: none; margin: 4% 15% 22% 44%; width: 188px;">
	    </div>
	<!-- Passenger Data Display  Start-->
	 <script src='cdn/tabletop.min.js'></script>
	 <script src="cdn/jquery.min.js"></script>
         <script src="cdn/bootstrap.min.js"></script>
         <script src="cdn/angular.js"></script>
	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVyRY_k1elqUv3o1LntIZ09DdvOSHH-ks&libraries=places"></script>
         <script src="cdn/angular-animate.js"></script>
         <script src="cdn/angular-sanitize.js"></script>
         <script src="cdn/ui-bootstrap-tpls-2.5.0.js"></script>
	<script src="cdn/passenger.js">  </script>
	<script>
	$(document).ready(function () {
			$("body").on("contextmenu",function(e){
				return false;
			});
		}); 
   $('.navbar-collapse ul li a').click(function() {
        $('.navbar-toggle:visible').click();
    });
	$(document).ready(function(){
	  $('ul li a').click(function(){
		$('li a').removeClass("active");
		$(this).addClass("active");
	});
	});
	</script>
  <script data-cfasync="false" type="text/javascript" src="cdn/form-submission-handler.js"></script>
</body>
</html>
<!--
[hubspot-metadata]
{
"category": "blog",
"path": "custom/pages/slate/index.html",
"creatable": true
}
[end-hubspot-metadata]
-->
